.second-banner-image:hover img{
  scale: 1.1;
}
.second-banner-image img{
 transition: all .5s ease; 
}
.second-banner-with-text{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.second-image-with-text-banner-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.second-banner-with-text .theme_main_heading{
  font-size: 30px;
  line-height: 34px;
}
.second-first-banner-section.col-lg-4 {
  max-width: calc(33.33% - 20px);
  width: 100%;
}
.second-first-banner-section.col-lg-3 {
  max-width: calc(25% - 23px);
  width: 100%;
}
.second-banner-with-text .theme_main_subheading{
  padding: 0px;
  margin-bottom: 5px;
}
.second-center-video-banner {
  position: relative;
}
.second-banner-image {
  position: relative;
  overflow: hidden;
}
.second-image-with-text-banner-section-wrapper .second-banner_btn_t {
  margin-top: 25px;
}
.second-banner-text {
  position: absolute;
  width: 100%;
  max-width: 220px;
  z-index: 2;
}
.second-banner-block--top-left,
.second-banner-block--top-center,
.second-banner-block--top-right{
  transform: translateY(0);
  top: 30px;
}
.second-banner-block--top-left,
.second-banner-block--middle-left,
.second-banner-block--bottom-left { 
  left: 30px;
  right: auto;
  margin: 0 auto;
}
.second-banner-block--top-center,
.second-banner-block--middle-center,
.second-banner-block--bottom-center { 
  left: 0;
  right: 0;
  margin: 0 auto;
}
.second-banner-block--top-right,
.second-banner-block--middle-right,
.second-banner-block--bottom-right {
  left: auto;
  right: 30px;
  margin: 0;
}
.second-banner-block--middle-center,
.second-banner-block--middle-right,
.second-banner-block--middle-left {
  top: 50%;
  transform: translateY(-50%);
}
.second-banner-block--bottom-center, 
.second-banner-block--bottom-right,
.second-banner-block--bottom-left {
  bottom: 30px;
}
.second-banner-text--left {
  text-align: left;
}
.second-banner-text--center {
  text-align: center;
}
.second-banner-text--right {
  text-align: right;
}
.second-image-with-text-banner-section-wrapper .banner-hover-img{
  overflow: hidden;
  border-radius: var(--media-radius);
}
.second-image-with-text-banner-section a[aria-disabled='true'] .theme_buttons{
  cursor: not-allowed;
  opacity: 0.5;
}
.second-image-banner-video-section-wrapper.full_width .banner-hover-img,
.without_spacing .banner-hover-img{
  border-radius: 0px;
}
.second-image-banner-video-section-wrapper .without_spacing .second-image-with-text-banner-section-wrapper{
  column-gap: 0px;
  row-gap: 0px;
}
.without_spacing .second-first-banner-section.col-lg-4 {
  max-width: 33.33%;
  width: 100%;
}
.without_spacing .second-first-banner-section.col-lg-3 {
  max-width: 25%;
  width: 100%;
}
@media screen and (max-width: 1429px) {
  .second-banner-with-text .theme_main_heading{
    font-size: 26px;
    line-height: 30px;
  }
  .second-banner-block--top-left,
  .second-banner-block--middle-left,
  .second-banner-block--bottom-left {
    left: 15px;
  }
  .second-banner-block--top-right,
  .second-banner-block--middle-right,
  .second-banner-block--bottom-right {
    right: 15px;
  }
  .second-banner-block--top-left,
  .second-banner-block--top-center,
  .second-banner-block--top-right{
    top: 15px;
  }
  .second-banner-block--bottom-center, 
  .second-banner-block--bottom-right,
  .second-banner-block--bottom-left {
    bottom: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .second-banner-with-text .theme_main_heading{
    font-size: 24px;
    line-height: 28px;
  }
  .second-first-banner-section.col-lg-4{
    max-width: calc(50% - 8px);
  }
  .without_spacing .second-first-banner-section.col-lg-4{
    max-width: 50%;
  }
  .second-image-with-text-banner-section-wrapper {
    row-gap: 15px;
    column-gap: 15px;
  }
}
@media screen and (max-width: 991px) {
  .second-banner-with-text .theme_main_heading{
    font-size: 20px;
    line-height: 24px;
  }
  .second-image-with-text-banner-section-wrapper .second-banner_btn_t {
    margin-top: 14px;
  }
  .second-first-banner-section.col-lg-3 {
    max-width: calc(50% - 10px);
    width: 100%;
  }
  .without_spacing .second-first-banner-section.col-lg-3{
    max-width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .second-image-with-text-banner-section-wrapper .second-banner_btn_t {
    margin-top: 12px;
  }
  .second-first-banner-section.col-lg-4{
    max-width: 100%;
  }
  .without_spacing .second-first-banner-section.col-lg-4{
    max-width: 100%;
  }
  .second-banner-text {
    max-width: 200px;
  }
  .second-image-with-text-banner-section-wrapper{
    row-gap: 15px;
  }
  .second-banner-with-text .theme_main_heading{
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 479px) {
  .second-banner-with-text .theme_main_heading{
    font-size: 16px;
    line-height: 20px;
  }
  .second-first-banner-section.col-lg-3 {
    max-width: 100%;
    width: 100%;
  }
  .without_spacing .second-first-banner-section.col-lg-3{
    max-width: 100%;
  }
}