.category-collection-style3 .main-collections-list-wrapper3 .swiper-button-next,
.category-collection-style3 .main-collections-list-wrapper3 .swiper-button-prev{
  opacity: 0;
}
.category-collection-style3 .main-collections-list-wrapper3:hover .swiper-button-next,
.category-collection-style3 .main-collections-list-wrapper3:hover .swiper-button-prev{
  opacity: 1;
}
.category-collection-style3 .collection-card__image img{
 transition: all 0.5s ease;
}
.category-collection-style3 .collection-card__image:hover img{
  transform: scale(1.1);
}
.category-collection-style3 .modern .collection-card__image:hover img{
  transform: rotateY(180deg);
}
.category-collection-style3 .main-collection-item2--left {
  text-align: left;
}
.category-collection-style3 .main-collection-item2--center {
  text-align: center;
}
.category-collection-style3 .main-collection-item2--right {
  text-align: right;
}
.category-collection-style3 .collection-name-wrapper{
  text-align: center;
  margin-top: 16px;
}
.category-collection-style3 .collection-card__image {
  position: relative;
}
.category-collection-style3 .collection-name-wrapper .h3{
  font-size: 16px;
  transition: all .5s ease;
  text-transform: var(--text_style);
   font-weight: var(--text_weight);
}
.category-collection-style3 .main-collection-item3 .theme_buttons {
  margin-top: 10px;
}
.category-collection-style3 .category_img{
  padding: 23%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.category-collection-style3 .popular .category_img{
  padding: 0px;
}
@media screen and (max-width: 991px){
  .category-collection-style3 .collection-name-wrapper .h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px){
  .category-collection-style3 .collection-name-wrapper {
    margin-top: 10px;
  }
}