.welcome-slider .media{
  border-radius: var(--media-radius);
}
.welcome-slider .full_width .media{
  border-radius: 0px;
}
.welcome-slider .full_width .slider-row{
  margin: 0;
}
.slider-row{
  margin: 0px -15px;
  overflow: hidden;
}
.gudget-left-part{
  max-width: 50%;
  width: 100%;
  float: left;
}
.gudget-right-part,
.gudget-new-inner-right {
  max-width: 25%;
  width: 100%;
  float: left;
}
.gudget-top-banner-content, .gudget-b--banner, .gudget-last-banner-content{
  position: relative;
  cursor: pointer;
}
.banner-inner {
  position: absolute;
  width: 100%;
  max-width: 50%;
  z-index: 2;
}
.ttbanner-content{
  position: absolute;
  width: 100%;
  max-width: 60%;
  z-index: 2;
}
.slider-block--top-left,
.slider-block--top-center,
.slider-block--top-right,
.banner1-block--top-left,
.banner1-block--top-center,
.banner1-block--top-right{
  transform: translateY(0);
  top: 30px;
}
.slider-block--top-left,
.slider-block--middle-left,
.slider-block--bottom-left{ 
  left: 50px;
  right: auto;
  margin: 0 auto;
}
.banner1-block--top-left,
.banner1-block--middle-left,
.banner1-block--bottom-left{
  left: 30px;
  right: auto;
  margin: 0 auto;
}
.slider-block--top-center,
.slider-block--middle-center,
.slider-block--bottom-center,
.banner1-block--top-center,
.banner1-block--middle-center,
.banner1-block--bottom-center{ 
  left: 0;
  right: 0;
  margin: 0 auto;
}
.slider-block--top-right,
.slider-block--middle-right,
.slider-block--bottom-right{
  left: auto;
  right: 50px;
  margin: 0;
}
.banner1-block--top-right,
.banner1-block--middle-right,
.banner1-block--bottom-right{
  left: auto;
  right: 30px;
  margin: 0;
}
.slider-block--middle-center,
.slider-block--middle-right,
.slider-block--middle-left,
.banner1-block--middle-center,
.banner1-block--middle-right,
.banner1-block--middle-left {
  top: 50%;
  transform: translateY(-50%);
}
.slider-block--bottom-center, 
.slider-block--bottom-right,
.slider-block--bottom-left,
.banner1-block--bottom-center, 
.banner1-block--bottom-right,
.banner1-block--bottom-left{
  bottom: 30px;
}
.slider-text--left,
.banner1-text--left{
  text-align: left;
}
.slider-text--center,
.banner1-text--center{
  text-align: center;
}
.slider-text--right,
.banner1-text--right {
  text-align: right;
}
.welcom-image{
  position: relative;
}
.welcome-slider .slider-btn{
  margin-top: 20px;
}
.welcome-slider .swiper-pagination {
  width: 100%;
  bottom: 0;
}
.gudget-top-banner-content img, .gudget-b--banner img,
.gudget-last-banner-content img{
  transition: all .5s ease;
}
.gudget-top-banner-content:hover img, .gudget-b--banner:hover img,
.gudget-last-banner-content:hover img{
  scale: 1.1;
}
.second_slider .gudget-bottom-banner{
  display: none;
}
.second_slider .gudget-top-banner-content .media{
  --ratio-percent: 125.27% !important;
}
.welcome-slider .ttbaaner-title{
  font-size: 30px;
  line-height: 34px;
}
.welcome-slider .offer_text{
   margin-top: 15px; 
}
@media screen and (max-width: 1429px){
  .welcome-slider .ttbaaner-title{
    font-size: 22px;
    line-height: 26px;
  }
}
@media screen and (max-width: 1199px){
  .welcome-slider .ttbaaner-title{
    font-size: 18px;
    line-height: 22px;
  }
  .slider-block--top-left,
  .slider-block--middle-left,
  .slider-block--bottom-left,
  .banner1-block--top-left,
  .banner1-block--middle-left,
  .banner1-block--bottom-left{ 
    left: 15px;
  }
  .slider-block--top-right,
  .slider-block--middle-right,
  .slider-block--bottom-right,
  .banner1-block--top-right,
  .banner1-block--middle-right,
  .banner1-block--bottom-right{
    right: 15px;
  }
}
@media screen and (max-width: 991px){
  .welcome-slider .offer_text{
   margin-top: 10px; 
  }
  .first_slider .gudget-new-inner-right{
    display: none;
  }
  .second_slider .gudget-new-inner-right,
  .second_slider .gudget-right-part{
    width: 100%;
    max-width: 50%;
  }
  .second_slider .gudget-top-banner{
    width: 100%;
    max-width: 100%;
  }
  .gudget-left-part, .gudget-right-part{
    max-width: 100%;
  }
  .gudget-right-part{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .gudget-top-banner, .gudget-bottom-banner{
    max-width: 50%;
    width: 100%;
    float: left;
  }
  .gudget-top-banner{
    padding-bottom: 0;
  }
  .gudget-bottom-banner{
    padding-top: 0;
  }
  .welcome-slider .slider-btn {
    margin-top: 10px;
    min-height: auto;
  }
}
@media screen and (max-width: 680px){
.banner-inner{
    max-width: 70%;
  }
}
@media screen and (max-width: 680px){
  .gudget-top-banner, .gudget-bottom-banner{
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 575px){
  .welcome-slider .offer_text{
   margin-top: 5px; 
  }
  .welcome-slider .ttbaaner-title{
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 479px){
  .ttbanner-content{
    max-width: 60%;
  }
  .second_slider .gudget-new-inner-right,
  .second_slider .gudget-right-part{
    width: 100%;
    max-width: 100%;
  }
}