.main-about-us-section2 .theme_main_heading{
  margin-bottom: 21px;
  font-size: 46px;
  line-height: 50px;
}
.main-about-us-section2 .about_title_wrap2{
  margin-bottom: 30px;
}
.main-master-magnifly2 {
  max-width: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 10% 20% 10% 10%;
}
.main-master-magnifly2 .media, .small-image-inner-well2 .media {
  box-shadow: 0px 0px 10px #00000021;
}
.main-master-magnifly2 img{
  transition: all .5s ease;
}
.main-master-magnifly2 img:hover{
  scale: 1.1;
}
.about-content-text2:hover .about-content-number2  img{
  transform: rotateY(180deg);
}
.about {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.main-master-magnifly2 .media,
.small-image-inner-well2 .media{
  border-radius: 100%;
  cursor: pointer;
}
.main-about-us-left-side-part2 video{
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.about-inner2{
  width: 100%;
  max-width: 38%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@-webkit-keyframes mover2 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}
@keyframes mover2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}
.about-text-sec2{
  max-width: 80%;
  width: 100%;
  margin: auto;
}
.main-about-us-section2-wrapper {
  display: flex;
  align-items: center;
}
.main-about-us-left-side-part2 {
  width: 100%;
  max-width: 50%;
  position: relative;
  float: left;
}
.main-about-us-right-side-part2 {
  width: 100%;
  max-width: 50%;
  float: left;
}
.main-about-us-right-side-part2--left, .about_btn2--left {
  text-align: left;
}
.main-about-us-right-side-part2--center, .about_btn2--center {
  text-align: center;
}
.main-about-us-right-side-part2--center .about-content-text2 {
  justify-content: center;
}
.main-about-us-right-side-part2--right .about-content-text2 {
   justify-content: flex-end;
}
.main-about-us-right-side-part2--right {
  text-align: right;
}
.main-about-image {
  width: 100%;
  max-width: 75%;
}
.main-about-image-zoom {
  width: 100%;
  max-width: 45%;
  position: absolute;
  bottom: -100px;
  right: 0px;
  overflow: hidden;
}
.about-content-text2 {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  transition: all .5s ease;
  max-width: 50%;
  width: 100%;
  float: left;
}
.about-content-text2:last-of-type{
  margin-bottom: 0px;
}
.about-content-heading2 {
  padding-left: 15px;
}
.about-content-text2 .about-content-number2{
  transition: all .5s ease;
  padding: 17px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content-text2 .about_number_square2{
  border-radius: 0%;
}
.about-content-text2 .about-content-heading2 .h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  text-transform: capitalize;
  font-weight: var(--text_weight);
}
.main-about-us-right-side-part2 a {
  margin-top: 25px;
}
.about-content-number2 .media{
  height: 50px;
  width: 50px;
}
.about-content-number2 img{
  transition: all .5s ease;
}
.about-content-block2{
  display: block;
  width: 100%;
  overflow: hidden;
}
.main-about-us-right-side-part2 .theme_main_description{
  margin-top: 0px;
  padding-top: 20px;
  font-size: 14px;
  font-style: italic;
}
.about-inner-wrap2{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 60%;
  width: 100%;
}
.about-inner-wrap3 {
  position: absolute;
  top: 5%;
  right: 5%;
  max-width: 26%;
  width: 100%;
}
@media screen and (max-width: 1360px) {
  .about-content-text2 .about-content-heading2 .h4 {
    margin-bottom: 6px;
  }
  .main-about-us-section2 .theme_main_heading {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 34px;
  }
  .about-content-text2 .about-content-heading2 .h4 {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1299px) {
  .about-content-text2 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .about-content-number2 .media{
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 1099px) {
.about-content-text2 .about-content-heading2 .h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .about-after-bottom{
    right: 20px;
  }
}
@media screen and (max-width: 991px) {
  .about-content-heading2 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 840px) {
  .about-text-sec2 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
  .main-about-us-left-side-part2{
    max-width: 75%;
  }
  .main-about-us-section2 .theme_main_heading {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
  }
  .main-about-us-section2-wrapper {
    flex-direction: column !important;
  }
  .main-about-us-right-side-part2 {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }
  .about-content-text2 {
    margin-bottom: 10px;
  }
  .about_title_wrap2{
    text-align: left;
  }
}
@media screen and (max-width: 680px) {
   .main-about-us-left-side-part2 {
    width: 100%;
    max-width: 100%;
    float: none;
  }
  .main-about-us-section2 .theme_main_heading {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
  }
  .main-about-us-section2 .theme_main_heading {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .main-about-us-section2 .about_title_wrap2 {
    margin-bottom: 20px;
  }
  .about-inner2{
    padding-right: 7px;
  }
}
@media screen and (max-width: 420px) {
  .about-content-text2:last-of-type {
    margin-bottom: 10px;
  }
  .main-about-us-right-side-part2 a {
    margin-top: 10px;
  }
  .main-about-us-section2 .about_title_wrap2 {
      margin-bottom: 20px;
  }
  .about-content-text2{
    max-width: 100%;
  }
}