.service-section .service--left {
  text-align: left;
}
.service-section .service--center {
  text-align: center;
}
.service-section .service--right {
  text-align: right;
}
.service-section .service-main-wrap{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}
.service-section .service-img--left {
  text-align: left;
}
.service-section .service-img--center {
  text-align: center;
}
.service-section .service-img--right {
  text-align: right;
}
.service-img--center .service-main-img {
  margin: 0 auto;
}
.service-img--right .service-main-img {
  margin-left: auto;
  margin-right: 0;
}
.service-section .service_img{
  max-width: 53.5%;
  width: 100%;
}
.service-section .service-img{
  width: 20%;
  position: absolute;
}
.service-section .service-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: var(--text_weight);
  font-family: var(--font-heading-family);
  text-transform: var(--text_style);
  margin: 15px 0px 10px 0px;
}
.service-section .service-content{
  font-size: 14px;
  font-style: italic;
}
.service-img:hover img, .service-img:hover svg {
  transform: rotateY(180deg);
}
.service-img img, .service-img svg {
  transition: all 0.5s ease;
}
.service-section .service-main-img{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.service-section .service-main-img .media {
  width: 40px;
  height: 40px;
}
.service-section .service-img1{
  top: 45%;
  left: 0;
}
.service-section .service-img2{
  top: 15%;
  left: 7%;
}
.service-section .service-img3{
  top: 0%;
  left: 27%;
}
.service-section .service-img4{
  top: 0%;
  right: 27%;
}
.service-section .service-img5{
  top: 15%;
  right: 7%;
}
.service-section .service-img6{
  top: 45%;
  right: 0%;
}
@media screen and (max-width: 1299px) {
  .service-section .service-title {
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0 5px;
  }
  .service-section .service-main-wrap{
    padding-top: 270px;
  }
}
@media screen and (max-width: 991px) {
  .service-section .service-img{
    width: calc(50% - 15px);
    position: unset;
    padding-bottom: 30px;
  }
  .service-section .service-main-wrap {
    padding-top: 0;
  }
  .service-section .service-main-wrap{
    flex-wrap: wrap;
  }
  .service-section .service_img {
    max-width: 80%;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575px) {
  .service-section .service-title {
      font-size: 16px;
      line-height: 20px;
  }
  .service-section .service_img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 479px) {
  .service-section .service-img{
      width: 100%;
      position: unset;
      padding-bottom: 15px;
    }
}