.why-choose-product-title3--left {
  text-align: left;
}
.why-choose-product-title3--center {
  text-align: center;
}
.why-choose-product-title3--right {
  text-align: right;
}
.why-chose-us-products-section3-wrapper3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.why-choose-us-product-block-content3 {
  width: 100%;
  max-width: 50%;
  padding: 0px 15px;
}
.why-choose-us-product-block-image3 {
  width: 100%;
  max-width: 50%;
  padding: 0px 15px;
}
.why-choose-us-product-block-content3 .why-choose-us-content-img .media {
  width: 50px;
  height: 50px;
}
.why-choose-us-content-text3 .heading-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 18px;
  margin-bottom: 10px;
}
.why-choose-us-product-block-content3-wrapper {
  margin-bottom: 35px;
  max-width: 50%;
  width: 100%;
  float: left;
}
.why-choose-us-product-block-content3-wrapper .why-choose-block-inner{
  max-width: 90%;
  width: 100%;
}
.why-choose-us-product-block-content3-wrapper:last-child {
  margin-bottom: 0px;
}
.why-choose-us-product-block-content3-wrapper--left {
  text-align: left;
}
.why-choose-us-product-block-content3-wrapper--center {
  text-align: center;
}
.why-choose-us-product-block-content3-wrapper--right {
  text-align: right;
}
.why-choose-us-product-block-content3-wrapper--left .why-choose-us-content-img {
  margin-left: 0;
  margin-right: auto;
}
.why-choose-us-product-block-content3-wrapper .why-choose-us-content-img svg,
.why-choose-us-product-block-content3-wrapper .why-choose-us-content-img img {
  transition: all 0.5s ease;
}
.why-choose-us-product-block-content3-wrapper--center .why-choose-us-content-img .media {
  margin: 0 auto;
}
.why-choose-us-product-block-content3-wrapper--right .why-choose-us-content-img .media {
  margin-left: auto;
  margin-right: 0;
}
.why-choose-us-product-block-content3-wrapper:hover .why-choose-us-content-img svg,
.why-choose-us-product-block-content3-wrapper:hover .why-choose-us-content-img img {
  transform: rotateY(180deg);
}
.why-chose-us-products-section3 .why-choose-us-center-img{
 padding-right: 65px;
  position: relative;
}
@media screen and (max-width: 1429px) {
  .why-choose-us-content-text3 .content-paragraph {
    font-size: 14px;
  }
  .why-choose-us-product-block-content3-wrapper {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .why-choose-us-content-text3 .heading-title {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 5px;
  }
  .why-choose-us-product-block-content3-wrapper {
    margin-bottom: 25px;
  }
  .why-chose-us-products-section3 .why-choose-us-center-img {
    padding-right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .why-choose-us-content-text3 .heading-title {
    font-size: 18px;
  }
  .why-choose-us-product-block-content3-wrapper {
    margin-bottom: 20px;
  }
  .why-chose-us-products-section3 .why-choose-us-center-img {
    padding-right: 0px;
  }
}
@media screen and (max-width: 840px) {
  .why-choose-us-content-text3 .heading-title {
    font-size: 16px;
  }
  .why-choose-us-product-block-content3-wrapper {
    margin-bottom: 15px;
  }
  .why-choose-us-product-block-content3 {
    order: 2;
    width: 100%;
    max-width: 100%;
  }
  .why-choose-us-product-block-image3 {
    order: 1;
    width: 100%;
    max-width: 50%;
    margin: 0 auto 25px auto;
  }
}
@media screen and (max-width: 575px) {
  .why-choose-us-product-block-content3-wrapper .why-choose-block-inner {
    max-width: 95%;
    width: 100%;
  }
  .why-choose-us-product-block-image3 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 15px auto;
  }
  .why-chose-us-products-section3-wrapper3 {
    align-items: inherit;
  }
  .why-choose-us-product-block-content3 {
    width: 100%;
    max-width: 100%;
  }
  .why-choose-us-product-block-content3 .why-choose-us-content-img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .why-choose-us-product-block-content3-wrapper{
    max-width: 100%;
    width: 100%;
  }
  .why-choose-us-product-block-content3-wrapper .why-choose-block-inner {
    max-width: 100%;
    width: 100%;
  }
  .why-choose-us-product-block-content3-wrapper--left,
  .why-choose-us-product-block-content3-wrapper--right {
    text-align: center !important;
  }
  .why-choose-us-product-block-content3-wrapper--left .why-choose-us-content-img .media,
  .why-choose-us-product-block-content3-wrapper--right .why-choose-us-content-img .media {
    margin: 0 auto !important;
  }
}