.shipping-main-wrapper .Shipping-inner-row .swiper-button-next,
.shipping-main-wrapper .Shipping-inner-row .swiper-button-prev{
  opacity: 0;
}
.shipping-main-wrapper .Shipping-inner-row:hover .swiper-button-next,
.shipping-main-wrapper .Shipping-inner-row:hover .swiper-button-prev{
  opacity: 1;
}
.shipping-content-specification img{
  transition: all .5s ease;
}
.shipping-flex:hover img, .shipping-flex:hover svg{
  transform: rotate3d(0, 1, 0, 180deg);
}
.shipping-content-specification .shipping-paragraph-class {
  font-size: 14px;
  line-height: 1.8;
  text-transform: capitalize;
}
.shipping-content-specification .shipping-heading-class{
  font-size: 26px;
  line-height: 30px;
  text-transform: var(--text_style);
  font-weight: var(--text_weight);
}
.shipping-content-specification svg{
  fill: #0009;
  background-color: #0000001a;
}
.shipping-flex{
  margin-top: 75px;
  padding: 30px 40px;
}
.shipping-main-wrapper {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.shipping-heading-class {
  margin-top: 15px;
  margin-bottom: 15px;
}
.shipping-img{
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: -105px 0px auto 0px
}
.shipping-main-wrapper .shipping--left {
  text-align: left;
}
.shipping-main-wrapper .shipping--center {
  text-align: center;
}
.shipping-main-wrapper .shipping--right {
  text-align: right;
}
.shipping-main-wrapper .center .shipping-img{
  margin: -105px auto 0 auto;
}
.shipping-main-wrapper .right .shipping-img{
  margin: -105px 0px 0px auto;
}
.shipping-content-specification svg{
  width: 80px;
  height: 80px;
}
.shipping-content-specification img {
  width: 80px!important;
  height: 80px!important;
  object-fit: cover;
}
@media screen and (max-width: 1299px) {
  .shipping-content-specification svg{
    width: 70px;
    height: 70px;
  }
  .shipping-content-specification img {
    width: 70px!important;
    height: 70px!important;
  }
  .shipping-content-specification .shipping-heading-class{
    font-size: 20px;
    line-height: 24px;
  }
  .shipping-heading-class{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 991px) {
  .shipping-content-specification .shipping-heading-class {
    font-size: 16px;
  }
  .shipping-heading-class {
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .shipping-flex{
    padding: 20px 20px;
    margin-top: 60px;
  }
  .shipping-img{
    margin: -80px 0px auto 0px;
    width: 100px;
    height: 100px;
  }
  .shipping-main-wrapper .center .shipping-img{
    margin: -80px auto 0 auto;
  }
  .shipping-main-wrapper .right .shipping-img{
    margin: -80px 0px 0px auto;
  }
}
@media screen and (max-width: 575px) {
  .shipping-main-wrapper .shipping-flex, .shipping-main-wrapper .shipping-content-specification{
    text-align: center !important;
  }
  .shipping-content-specification svg{
    height: 60px;
    width: 60px;
  }
  .shipping-content-specification img {
    width: 60px!important;
    height: 60px!important;
  }
}
@media screen and (max-width: 479px) {
  .shipping-partition {
    max-width: 100% !important;
  }
  .shipping-paragraph-class {
    margin-top: 5px;
  }
  .shipping-img {
    margin: -70px 0px auto 0px;
  }
  .shipping-flex{
    margin-top: 50px;
  }
  .shipping-main-wrapper .center .shipping-img{
    margin: -70px auto 0 auto;
  }
  .shipping-main-wrapper .right .shipping-img{
    margin: -70px 0px 0px auto;
  }
  .shipping-flex{
    padding: 20px 20px;
    margin-top: 50px;
  }
}