.testimonial-main-wrapper2 .empty-rating-custom{
  display: none !important;
}
.testimonial-main-wrapper2 .product_to_review .card__heading.h5 {
  display: block !important;
  margin-bottom: 1.5rem;
}
.testimonial-main-wrapper2 .product_to_review {
  padding-top: 20px;
}
.testimonial-main-wrapper2 .card:not(.ratio) {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  column-gap: 30px;
}
.testimonial-main-wrapper2 .testimonial-hover-img .media{
  border-radius: var(--media-radius);
  cursor: pointer;
}
.testimonial-main-wrapper2 .testimonial-hover-img img{
  overflow: hidden;
  transition: all 0.5s ease;
}
.testimonial-main-wrapper2 .testimonial-hover-img:hover img{
  transform: scale(1.1);
}
.testimonial-main-wrapper2 .card__inner {
  max-width: 80px;
  width: 100%;
  overflow: hidden;
}
.testimonial-main-wrapper2 .card__content{
  max-width: fit-content;
}
.testimonial-main-wrapper2 product-form, .testimonial-main-wrapper2 .card__inner .card__heading a.full-unstyled-link{
  display: none;
}
.testimonial-main-wrapper2 .review_description {
  margin-top: 20px;
  margin-bottom: 15px;
}
.testimonial-main-wrapper2 .full-width .modern .first-img .media{
  border-radius: 0px;
}
.testimonial-main-wrapper2 .testimonial-wrap2 {
  overflow: hidden;
  position: relative;
  max-width: 50%;
  width: 100%;
  float: left;
}
.testimonial-main-wrapper2 .testimonial-main-heading{
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.testimonial-main-wrapper2 .testimonial-main-inner2{
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  align-items: center;
}
.testimonial-main-wrapper2 .testimonial-ratings {
  line-height: 0;
  display: flex;
}
.testimonial-main-wrapper2 .testimonial-adition{
  display: flex;
  font-family: var(--font-heading-family);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.testimonial-main-wrapper2 .testimonial-ratings .star{
  display: inline-block;
}
.testimonial-main-wrapper2 .author-name-tag .h3{
  margin-right: 15px;
  font-size: 20px;
  font-weight: 600;
}
.testimonial-main-wrapper2 .author-designation-tag .h3{
  font-size: 20px;
  margin-left: 15px;
  font-weight: 600;
}
.testimonial-main-wrapper2 .user-img {
  position: relative;
  max-width: 50%;
  width: 100%;
  float: right;
}
.testimonial-main-wrapper2 .image-main-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}
.testimonial-main-wrapper2 .image-main-testimonial {
  max-width: 60%;
  width: 100%;
  padding-right: 15px;
}
.testimonial-main-wrapper2 .image-main-wrap .third-img {
  max-width: 40%;
  width: 100%;
  padding-left: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.testimonial-main-wrapper2 .second-img {
  position: absolute;
  content: "";
  max-width: 44%;
  width: 100%;
  top: 10%;
  right: 8%;
  animation: mover 1s infinite alternate;
  box-shadow: 0px 0px 10px #00000021;
  border-radius: var(--media-radius);
  overflow: hidden;
}
.testimonial-main-wrapper2 .small-author-img {
  display: none;
}
.testimonial-main-wrapper2 .review_description p{
  font-size: 16px;
  line-height: 1.5;
}
.testimonial-main-wrapper2 .testimonial-inner-wrap img{
  max-width: 80px;
  height: 80px;
  width: 100%;
}
.testimonial-main-wrapper2 .icon-quates{
  width: 40px !important;
  height: 40px !important;
}
.testimonial-main-wrapper2 .swiper-pagination {
  margin: 0;
  text-align: left;
  margin-top: 20px;
}
.testimonial-main-wrapper2 .modern .third-img,
.testimonial-main-wrapper2 .modern .second-img{
  display: none;
}
.testimonial-main-wrapper2 .modern .image-main-testimonial{
  width: 100%;
  max-width: 100%;
  padding-right: 0px;
}
.testimonial-main-wrapper2 .modern .media{
  --ratio-percent: 80% !important;
}
.testimonial-sec2{
  max-width: 80%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.testimonial-main-wrapper2 .right{
  flex-direction: row-reverse;
}
.testimonial-main-wrapper2 .product-card-buttons{
  display: none !important;
}
.testimonial-main-wrapper2 .card-wrapper.product-card-wrapper .card.card--card {
  background-color: transparent;
}
@media screen and (max-width: 1429px) {
  .testimonial-main-wrapper2 .review_description {
      margin-top: 15px;
      margin-bottom: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .testimonial-main-wrapper2 .author-designation-tag .h3 {
    font-size: 16px;
    margin-left: 10px;
  }
  .testimonial-main-wrapper2 .author-name-tag .h3 {
    margin-right: 10px;
    font-size: 16px;
  }
  .testimonial-main-wrapper2 .swiper-pagination {
    margin: 5px 0 0;
    text-align: left;
  }
}
@media screen and (max-width: 1099px) {
  .testimonial-main-inner2.modern .user-img{
    display: none;
  }
  
  .testimonial-main-inner2.modern .testimonial-sec2,
  .testimonial-main-inner2.modern .testimonial-wrap2{
    max-width: 100% !important;
  }
  .testimonial-main-inner2.modern{
    padding: 0px 15px;
  }
}
@media screen and (max-width: 991px) {
  .testimonial-main-wrapper2 .testimonial-adition {
    margin-bottom: 10px;
  }
  .testimonial-main-wrapper2 .review_description {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .testimonial-main-wrapper2 .author-name-tag .h3,.testimonial-main-wrapper2 .author-designation-tag .h3{
    font-size: 16px;
  }
  .testimonial-main-wrapper2 .product_to_review .card-information>*:not(.visually-hidden:first-child)+*:not(.rating) {
    margin-top: 1rem !Important;
  }
  .testimonial-main-wrapper2 .product_to_review .card__heading.h5 {
    margin-bottom: 1rem;
  }
  .testimonial-main-wrapper2 .product_to_review {
    padding-top: 15px;
  }
  .testimonial-sec2{
    max-width: 90%;
  }
}
@media screen and (max-width: 840px) {
  .testimonial-main-wrapper2 .full-width{
     padding: 0px 15px; 
  }
  .testimonial-main-wrapper2 .testimonial-wrap2{
    max-width: 100%;
  }
  .testimonial-main-wrapper2 .testimonial-main-inner2{
    flex-direction: column;
    row-gap: 15px;
  }
  .testimonial-main-wrapper2 .testimonial-main {
    max-width: 100%;
 }
  .testimonial-main-wrapper2 .user-img{
    max-width: 55%;
  }
}
@media screen and (max-width: 767px) {
  .testimonial-main-wrapper2 .testimonial-inner-wrap {
    max-width: 100%;
  }
  .testimonial-main-wrapper2 .user-img{
    max-width: 70%;
  }
  .testimonial-sec2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .testimonial-main-wrapper2 .image-main-wrap .third-img{
    padding-left: 7px;
  }
  .testimonial-main-wrapper2 .image-main-testimonial{
    padding-right: 7px;
  }
  .testimonial-main-wrapper2 .second-img{
    display: none;
  }
  .testimonial-main-wrapper2 .testimonial-main-heading {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .testimonial-main-wrapper2 .author-name-tag .h3,.testimonial-main-wrapper2 .author-designation-tag .h3{
    font-size: 14px;
  }
  .testimonial-main-wrapper2 .card:not(.ratio) {
    column-gap: 20px;
  }
  .testimonial-main-wrapper2 .user-img{
    max-width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .testimonial-sec2 {
    max-width: 100%;
  }
  .testimonial-main-wrapper2 .review_description {
      margin-top: 10px;
      margin-bottom: 5px;
  }
  .testimonial-main-wrapper2 .swiper-pagination {
    margin: 0;
  }
}